<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="url" type="text" name="input" value="" onblur="onBlur()" placeholder="Url">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
                <article class=card id=card1>
                    <input id="url" type="text" name="input" value="" placeholder="date">
                    <input id="url" type="text" name="input" value="" placeholder="city">
                    <!-- <a href="post.html"><h2 class="home-head">Expressing Ourselves</h2> -->
                    <!-- </a> -->
                    <!-- <a href="post.html"><img class="card-img" src="gianandrea-villa-aZHREMlh3AE-unsplash.jpg"  -->
                    <!-- alt="Picture of man painting his wall" href="post.html"></a> -->
                    <!-- <h3 class="home-head">How doing what you love helps doing what you need...</h3> -->
                    <!-- <a class= "menu-buttons" id="card-button"  href="post.html">Learn more...</a> -->
                    <!-- <span>Dio Papadopoulos</span> -->
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
