<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta
        charset="utf-8" content="width=device-width,
         initial-scale=1, maximum-scale=1"
        name="viewport"
        />
        <script>
            const picker = new Litepicker({ 
              element: document.getElementById('date') 
            });
          </script>
          <script
          src= "https://maps.googleapis.com/maps/api/js?key=AIzaSyAqVcesCIGKRenj9rGahbuLghiOhuWjgpo&libraries=places">
        </script>
        
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>
        

        <main>
            <section>
                <div id="cardBoard">
                    <div class=card id=cardImg>
                        <div id="title">Travel Planner</div>
                        <div id= "imgHolder"></div>
                        <a  href="https://pixabay.com/" id= "pixabayLogoBox"></a>
                    </div>

                    <div class=card id=cardInput>
                        <div id="FirstInfoBox">
                            <p id="days"> </p>
                            <div id="prognosis"> </div>
                        </div>
                        <div id="inputBoxs">
                            <!-- <input id="datepicker" class="form-control"  placeholder="Pick a date" readonly=""> -->
                            <input id="datepicker" class="UI-inp-element"  placeholder="Pick a date" readonly="">
                            <input id="country" type="text" name="input" value="" placeholder="Country Code initials (ex: GB, US)">
                            <input id="city" type="text" name="input" value="" placeholder="City">
                        </div>
                        <div id="subBBox">
                            <input id="subB" type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                        </div>
                    </div>

                    <div class=card id=cardInfo>
                        <div id="resulTitl">Information about the Country</div>
                        <div id="results"></div>
                    </div>
                </div>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
