body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

.card{
    background-color: #ebc994;
    color:black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    // filter:drop-shadow(10px 10px 4px #b0b0b0);
    border-radius: 40px;
    height: 360px;
    width: 1020px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: auto;
    padding: 10px;
}

#imgHolder{
    grid-area: 1/1/5/2;
}

#date{
    grid-area: 1/2/1/3;

}

#city {
    grid-area: 2/2/2/3;

}

#subB{
    grid-area: 3/2/3/3;
}

#prognosis{
    grid-area: 4/2/4/3;
}

#mainImg{
    width: 90%;
    // height: 100%;
    background-position: center;
    border-radius: 10px;
}